* {
    margin: 0;
    padding: 0;
    /* pendiente de explicacion */
    box-sizing: border-box;
}

:root {
    /* Colores */
    --gris-oscuro: #2e2e31;
    --amarillo-claro: #f7efac;
    --verde: #6FEB9B;
    --gris-claro: #e2e2e2;
    --negro: #000;
    --blanco: #fff;
    --celeste-opaco: #94b1e7;
}

body {
    font-family: "Roboto", sans-serif;
}

.navbar {
    background-color: var(--gris-oscuro);
    border-bottom: 4px solid var(--verde);
}

.nav-container {
    width: 1000px;
    height: 68px;
    margin: 0 auto;
    /* Flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo h1 {
    display: inline-block;
    color: var(--blanco);
}

.nav-logo img {
    width: 36px;
}

.nav-links a {
    color: var(--blanco);
    text-decoration: none;
    margin-right: 20px;
}

.btn-comprar {
    background-color: var(--amarillo-claro);
    border: none;
    color: var(--negro);
    width: 110px;
    height: 26px;
    border-radius: 6px;
}

.contenedor {
    width: 1000px;
    margin: 60px auto;
}

.tarjeta {
    background-color: var(--gris-claro);
    padding: 30px;
    border-radius: 18px;
    /* Flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.tarjeta img {
    width: 180px;
}

.btn-like {
    background-color: var(--verde);
    color: var(--negro);
    border: none;
    width: 180px;
    height: 30px;
    border-radius: 6px;
    font-weight: bold;
}

.btn-like + p {
    text-align: center;
    margin-top: 20px;
}

footer {
    background-color: var(--gris-oscuro);
    border-top: 4px solid var(--verde);
    padding-top: 50px;
}

.formulario {
    width: 1000px;
    margin: 0 auto;
    /* Flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formulario-control {
    color: var(--blanco);
}

footer p {
    color: var(--blanco);
    text-align: center;
    padding: 50px 0;
}