body{
    background-color: rgb(141, 196, 176);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    text-align: center;
}

.boton-inicio {
    margin-bottom: 2%;
}

#b-inicio{
    border: none;
    padding: 1%;
    background-color: rgb(255, 255, 255);
}


div.librosDes{
    text-align: center;
}

form.libro{
    float: left;
    display: inline;
    width: 30%;
}

div.autor{
    text-align: center;
}

img{
    width: 40%;
    height: auto;
}