* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* parte superior de la pagina */
header {
    background-color: rgb(67, 67, 67);
    color: white;
    height: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* caja que contiene todos los elementos del body */
.box {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.box h1 {
    margin-left: 28%;
    margin-top: 20px;
}

/* contenedor de las columnas y tarjetas */
.container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

/* columna izquierda */
.column1 {
    flex: 1;
    margin-left: 40px;
}

/* Tarjeta de perfil */
.card-profile {
    /*Tamaño  */
    height: 350px;
    width: 290px;

    /* tamaño fuente */
    font-size: x-large;

    /* borde */
    border: 3px solid black;
    border-radius: 5px;

    /* posicion */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

img {
    width: 40%;
    height: auto;
}

/* ///////////////////////////////////////// */

/* Columna derecha */
.column2 {
    flex: 2;
    margin-right: 30px;
    margin-left: -10%;
}

/* Tarjeta */
.card {
    /* borde */
    border: 3px solid black;
    border-radius: 5px;

    /* espaciado entre tarjetas */
    margin-bottom: 20px;

    /* color */
    background-color: rgb(235, 235, 235);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card div {
    margin: 20px;
}

.card input {
    /* posicion y tamaño */
    margin: 20px;
    padding: 5px 15px;

    /* sin borde */
    border: none;

    /* color del boton */
    background-color: rgb(255, 215, 39);

    /* letra en negrita */
    font-weight: bold;
}

.card h2 {
    margin-bottom: 20px;
}

/* ///////////////////////////////////////// */