.container {
    width: 950px;
    background-color: #eaeaea;
    margin: 0 auto;
    padding: 12px 12px;
}

.top-nav {
    height: 150px;
    background-color: #ffcc00;
    border: 50px;
    margin-top: 20px;
}

.side-nav {
    height: 380px;
    width: 225px;
    background-color: #66ccff;
    margin: 10px;
    float: right;
    vertical-align: top;
}

.main {
    height: 400px;
    width: 700px;
    background-color: deeppink;
    margin: 10px 0;
    display: inline-block;
    vertical-align: top;
}

.sub-content {
    height: 213px;
    width: 213px;
    background-color: mediumblue;
    margin: 10px;
    float: left; 
    vertical-align: top;
}

#advertisement {
    height: 120px;
    width: 670px;
    background-color: #33cc33;
    position: relative; 
    top: 250px;
    margin: 10px;
}