:root {
    --naranjo: #f88a1c;
    --morado: #83479e;
    --amarillo: #ffe494;
    --verde: #a6da6e;
}

h1 {
    text-align: center;
}

img {
    max-width: 20%;
    max-height: auto;
    border-radius: 20%;
}

div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    margin: 10px;
    border-radius: 40px;
}

.box1 {
    background-color: var(--naranjo);
}

.box2 {
    background-color: var(--amarillo);
}

.box3 {
    background-color: var(--morado);
}

.end-page {
    background-color: var(--verde);
    font-size: large;
}
